.banner-content-side {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.col-content {
  text-align: center;
}

@media only screen and (min-width: 0px) and (max-width: 399px) {
  .banner-content {
    background: white;
    background-image: url("../../resources/images/bannerImage.jpg");
    background-size: 450px 188px;
    background-repeat: no-repeat;
    border-left: 1px solid #698878d5;
    border-right: 1px solid #698878d5;
  }

  .banner-content #logo {
    margin-top: 30px;
    width: 100px;
    height: 50px;
    background-image: url("../../resources/images/websiteLogov3.png");
    background-size: 100%, 100%;
    border: none;
  }

  .banner-content p {
    color: white;
    font-size: 8pt;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 434px) {
  .banner-content {
    background: white;
    background-image: url("../../resources/images/bannerImage.jpg");
    background-size: 550px 229px;
    background-repeat: no-repeat;
    border-left: 1px solid #698878d5;
    border-right: 1px solid #698878d5;
  }

  .banner-content #logo {
    margin-top: 30px;
    width: 140px;
    height: 80px;
    background-image: url("../../resources/images/websiteLogov3.png");
    background-size: 100%, 100%;
    border: none;
  }

  .banner-content p {
    color: white;
    font-size: 10pt;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 435px) and (max-width: 565px) {
  .banner-content {
    background: white;
    background-image: url("../../resources/images/bannerImage.jpg");
    background-size: 565px 235px;
    background-repeat: no-repeat;
    border-left: 1px solid #698878d5;
    border-right: 1px solid #698878d5;
  }

  .banner-content #logo {
    margin-top: 30px;
    width: 160px;
    height: 90px;
    background-image: url("../../resources/images/websiteLogov3.png");
    background-size: 100%, 100%;
    border: none;
  }

  .banner-content p {
    color: white;
    font-size: 11pt;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 566px) and (max-width: 767px) {
  .banner-content {
    background: white;
    background-image: url("../../resources/images/bannerImage.jpg");
    background-size: 770px 321px;
    background-repeat: no-repeat;
    border-left: 1px solid #698878d5;
    border-right: 1px solid #698878d5;
  }

  .banner-content #logo {
    margin-top: 30px;
    width: 230px;
    height: 140px;
    background-image: url("../../resources/images/websiteLogov3.png");
    background-size: 100%, 100%;
    border: none;
  }

  .banner-content p {
    color: white;
    font-size: 14pt;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .banner-content {
    background: white;
    background-image: url("../../resources/images/bannerImage.jpg");
    background-size: 1000px 400px;
    background-repeat: no-repeat;
    border-left: 1px solid #698878d5;
    border-right: 1px solid #698878d5;
  }

  .banner-content #logo {
    margin-top: 30px;
    width: 290px;
    height: 180px;
    background-image: url("../../resources/images/websiteLogov3.png");
    background-size: 100%, 100%;
    border: none;
  }

  .banner-content p {
    color: white;
    font-size: 14pt;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 993px) {
  .banner-content {
    background: white;
    background-image: url("../../resources/images/bannerImage.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-left: 1px solid #698878d5;
    border-right: 1px solid #698878d5;
  }

  .banner-content #logo {
    margin-top: 30px;
    width: 290px;
    height: 180px;
    background-image: url("../../resources/images/websiteLogov3.png");
    background-size: 100%, 100%;
    border: none;
  }

  .banner-content p {
    color: white;
    font-size: 14pt;
    margin-bottom: 50px;
  }
}

/* 
 * banner 
 */
#ios-link {
  color: #2f9bff;
  font-style: italic;
  font-weight: 500;
}

#google-play-link {
  color: #02ff74;
  font-style: italic;
  font-weight: 500;
}

details > summary {
  margin-left: 16px;
  color: #046a399d;
}
