img {
  -moz-box-shadow: 0 0 2px #fff;
  -webkit-box-shadow: 0 0 2px #fff;
  box-shadow: 0px 0px 2px #fff;
}

/* 
 * Promotion: TODO: adjust for different screen sizes
 */
.promotion-content {
  border-left: 1px solid #698878d5;
  border-right: 1px solid #698878d5;
  border-top: 1px solid #698878d5;
  border-bottom: 1px solid #698878d5;
  background: #046a39a8;
}

.promotion-title {
  -moz-box-shadow: 0 0 22px rgb(0, 255, 115);
  -webkit-box-shadow: 0 0 22px rgb(0, 255, 115);
  box-shadow: 0px 0px 22px rgb(0, 255, 115);
  position: relative;
  text-align: center;
}

.promotion-app {
  margin-top: 15px;
  margin-bottom: 15px;
}

.promotion-content header {
  color: rgb(216, 216, 216);
}

.promotion-content p {
  color: rgb(216, 216, 216);
}

.promotion-content a {
  color: rgb(216, 216, 216);
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #c2ffb5 29%,
    rgb(96, 255, 64) 67%,
    rgb(43, 255, 0) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media only screen and (min-width: 0px) and (max-width: 399px) {
  .promotion-app {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .animate-charcter {
    margin-top: 6.5px;
    font-size: 14pt;
    font-family: "Montserrat", sans-serif;
  }

  .promotion-content header {
    font-size: 6.3pt;
    margin-top: 16px;
  }

  .promotion-content #left-content p {
    font-size: 8.25pt;
    font-weight: bold;
  }

  .promotion-content #left-content header {
    font-size: 6.1pt;
    font-weight: bold;
    margin-top: 11px;
  }

  .promotion-content #left-content #app-name {
    font-size: 7pt;
    font-weight: bold;
  }

  .promotion-content #left-content #app-pricing {
    font-size: 5pt;
    font-weight: bold;
    margin-top: -12px;
  }

  .promotion-content #right-content header {
    font-size: 4.8pt;
    font-weight: bold;
    margin-top: 11px;
  }

  .promotion-content #right-content #app-pricing {
    font-size: 7.5pt;
    font-weight: bold;
  }

  .promotion-content #right-content #app-link {
    font-size: 4.8pt;
    font-weight: bold;
    margin-top: -16px;
  }

  .promotion-content img {
    margin-top: 11px;
    margin-bottom: 15px;
    width: 44px;
    height: 44px;
    background-image: url("../../resources/images/allversion.jpg");
    background-size: 100%, 100%;
    border: 1px solid gray;
  }

  #left-content {
    text-align: right;
  }

  #middle-content {
    text-align: center;
  }

  #right-content {
    text-align: left;
  }
}

@media only screen and (min-width: 400px) and (max-width: 434px) {
  .promotion-app {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .animate-charcter {
    margin-top: 6.5px;
    font-size: 17pt;
    font-family: "Montserrat", sans-serif;
  }

  .promotion-content header {
    font-size: 8pt;
    margin-top: 24px;
  }

  .promotion-content #left-content p {
    font-size: 10.6pt;
    font-weight: bold;
  }

  .promotion-content #left-content header {
    font-size: 8.1pt;
    font-weight: bold;
    margin-top: 14px;
  }

  .promotion-content #left-content #app-name {
    font-size: 10pt;
    font-weight: bold;
  }

  .promotion-content #left-content #app-pricing {
    font-size: 7pt;
    font-weight: bold;
    margin-top: -12px;
  }

  .promotion-content #right-content header {
    font-size: 5.8pt;
    font-weight: bold;
    margin-top: 14px;
  }

  .promotion-content #right-content #app-pricing {
    font-size: 9pt;
    font-weight: bold;
  }

  .promotion-content #right-content #app-link {
    font-size: 8pt;
    font-weight: bold;
    margin-top: -14px;
  }

  .promotion-content img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 59px;
    height: 59px;
    background-image: url("../../resources/images/allversion.jpg");
    background-size: 100%, 100%;
    border: 1px solid gray;
  }

  #left-content {
    text-align: right;
  }

  #middle-content {
    text-align: center;
  }

  #right-content {
    text-align: left;
  }
}

@media only screen and (min-width: 435px) and (max-width: 565px) {
  .promotion-app {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .animate-charcter {
    margin-top: 6.4px;
    font-size: 18pt;
    font-family: "Montserrat", sans-serif;
  }

  .promotion-content header {
    font-size: 9.1pt;
    margin-top: 25px;
  }

  .promotion-content #left-content p {
    font-size: 12pt;
    font-weight: bold;
  }

  .promotion-content #left-content header {
    font-size: 9pt;
    font-weight: bold;
    margin-top: 16px;
  }

  .promotion-content #left-content #app-name {
    font-size: 10pt;
    font-weight: bold;
  }

  .promotion-content #left-content #app-pricing {
    font-size: 11pt;
    font-weight: bold;
    margin-top: -12px;
  }

  .promotion-content #right-content header {
    font-size: 6.7pt;
    font-weight: bold;
    margin-top: 17px;
  }

  .promotion-content #right-content #app-pricing {
    font-size: 10.4pt;
    font-weight: bold;
  }

  .promotion-content #right-content #app-link {
    font-size: 8pt;
    font-weight: bold;
    margin-top: -14px;
  }

  .promotion-content img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 67px;
    height: 67px;
    background-image: url("../../resources/images/allversion.jpg");
    background-size: 100%, 100%;
    border: 1px solid gray;
  }

  #left-content {
    text-align: right;
  }

  #middle-content {
    text-align: center;
  }

  #right-content {
    text-align: left;
  }
}

@media only screen and (min-width: 566px) and (max-width: 767px) {
  .animate-charcter {
    margin-top: 6px;
    font-size: 24pt;
    font-family: "Montserrat", sans-serif;
  }

  .promotion-content header {
    font-size: 13pt;
    margin-top: 15px;
  }

  .promotion-content #left-content p {
    font-size: 16pt;
    font-weight: bold;
  }

  .promotion-content #left-content header {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 16px;
  }

  .promotion-content #left-content #app-name {
    font-size: 12pt;
    font-weight: bold;
  }

  .promotion-content #left-content #app-pricing {
    font-size: 14pt;
    font-weight: bold;
    margin-top: -12px;
  }

  .promotion-content #right-content header {
    font-size: 10pt;
    font-weight: bold;
    margin-top: 16px;
  }

  .promotion-content #right-content #app-pricing {
    font-size: 13pt;
    font-weight: bold;
  }

  .promotion-content #right-content #app-link {
    font-size: 10pt;
    font-weight: bold;
    margin-top: -12px;
  }

  .promotion-content img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90px;
    height: 90px;
    background-image: url("../../resources/images/allversion.jpg");
    background-size: 100%, 100%;
    border: 1px solid gray;
  }

  #left-content {
    text-align: right;
  }

  #middle-content {
    text-align: center;
  }

  #right-content {
    text-align: left;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .animate-charcter {
    margin-top: 6px;
    font-size: 28pt;
    font-family: "Montserrat", sans-serif;
  }

  .promotion-content header {
    font-size: 17.3pt;
    margin-top: 33px;
  }

  .promotion-content #left-content p {
    font-size: 23pt;
    font-weight: bold;
  }

  .promotion-content #left-content header {
    font-size: 15.5pt;
    font-weight: bold;
    margin-top: 12px;
  }

  .promotion-content #left-content #app-name {
    font-size: 13.3pt;
    font-weight: bold;
  }

  .promotion-content #left-content #app-pricing {
    font-size: 20.4pt;
    font-weight: bold;
    margin-top: -12px;
  }

  .promotion-content #right-content header {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 15px;
  }

  .promotion-content #right-content #app-pricing {
    font-size: 18.8pt;
    font-weight: bold;
  }

  .promotion-content #right-content #app-link {
    font-size: 12pt;
    font-weight: bold;
    margin-top: -12px;
  }

  .promotion-content img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 120px;
    height: 120px;
    background-image: url("../../resources/images/allversion.jpg");
    background-size: 100%, 100%;
    border: 1px solid gray;
  }

  #left-content {
    text-align: right;
  }

  #middle-content {
    text-align: center;
  }

  #right-content {
    text-align: left;
  }
}

@media only screen and (min-width: 992px) {
  .animate-charcter {
    margin-top: 6px;
    font-size: 36pt;
    font-family: "Montserrat", sans-serif;
  }

  .promotion-content header {
    font-size: 22pt;
    margin-top: 22px;
  }
  .promotion-content #left-content header {
    font-size: 23.5pt;
    font-weight: bold;
    margin-top: 12px;
  }

  .promotion-content #left-content #app-name {
    font-size: 20.3pt;
    font-weight: bold;
  }

  .promotion-content #left-content #app-pricing {
    font-size: 25.3pt;
    font-weight: bold;
    margin-top: -12px;
  }

  .promotion-content #right-content header {
    font-size: 15pt;
    font-weight: bold;
    margin-top: 12px;
  }

  .promotion-content #right-content #app-pricing {
    font-size: 23.5pt;
    font-weight: bold;
  }

  .promotion-content #right-content #app-link {
    font-size: 14pt;
    font-weight: bold;
    margin-top: -12px;
  }

  .promotion-content img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 120px;
    height: 120px;
    background-image: url("../../resources/images/allversion.jpg");
    background-size: 100%, 100%;
    border: 1px solid gray;
  }

  #left-content {
    text-align: right;
  }

  #middle-content {
    text-align: center;
  }

  #right-content {
    text-align: left;
  }
}
