.social-media-content {
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 50%;
  transition: all 0.85s ease-in-out;
}

.social-media-content:hover {
  transform: rotate(45deg);
  transition: all 0.30s ease-out;
}

@media only screen and (min-width: 0px) and (max-width: 399px) {
  .social-media-content {
    width: 25px;
    height: 25px;
    background-size: 100%, 100%;
    border: none;
  }
}

@media only screen and (min-width: 400px) and (max-width: 434px) {
  .social-media-content {
    width: 30px;
    height: 30px;
    background-size: 100%, 100%;
    border: none;
  }
}

@media only screen and (min-width: 435px) and (max-width: 565px) {
  .social-media-content {
    width: 35px;
    height: 35px;
    background-size: 100%, 100%;
    border: none;
  }
}

@media only screen and (min-width: 566px) and (max-width: 767px) {
  .social-media-content {
    width: 45px;
    height: 45px;
    background-size: 100%, 100%;
    border: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .social-media-content {
    width: 60px;
    height: 60px;
    background-size: 100%, 100%;
    border: none;
  }
}

@media only screen and (min-width: 993px) {
  .social-media-content {
    width: 60px;
    height: 60px;
    background-size: 100%, 100%;
    border: none;
  }
}
